* {
  font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
  color: white;
}

body {
  background: #89ecb8;
}

.wrapper {
  height: 525px;
  width: 360px;
  color: white;
  background: #39ac50;
  border-radius: 2rem;
  padding: 1.2rem;
  margin: 100px auto;
}

#topContainer {
  margin-top: 2rem;
}

.container {
  margin-top: 1.4rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.inputContainer {
  background: #36593a;
  border-radius: 1.4rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}

#billTotalInput,
#tipInput {
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  padding: none;
}

.buttonContainer {
  background: #89ecaf;
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.splitButton {
  background: none;
  border: none;
}

.controls {
  display: flex;
  align-items: center;
}

.splitButton {
  font-size: 0.8rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.resetButton {
  font-size: 25px;
  font-weight: bold;
  display: grid;
  place-items: center;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 10px
}

.buttonText {
  color: #353959 !important;
}
.ResetText {
  color: #353959 !important;
  font-size: 20px
}

.splitAmount {
  font-size: 1.6rem;
  margin: 0.8rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total {
  font-size: 2rem;
}
